<p>
  To reproduce the error, click open, then close.
</p>

<button type="button" class="open" {{on "click" this.open}}>
  Open
</button>

<button
  type="button"
  class="close"
  {{on "click" this.close}}
  {{on "click" (fn this.setValue "foo")}}
>
  Close
</button>

<div {{(if this.isOpen (modifier this.myModifier this.value))}}>
  Hello World
</div>